* {
  margin:0;
  padding:0;
}

body{
  width: auto;


}
main {
  display: flex;
  flex-direction: column;
  
}
.btn-social-icon {
  border-radius: 50%;
  background: transparent;
  border: 0px;
 
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Baloo Bhaijaan', cursive;
}

input {
  width: 70%;
  height: 35px;
  margin: 5px;
  border-radius: 10px;
}

.btn-general {
  width: 50%;
  height: 35px;
  margin: 5px;
  border-radius: 10px;
}

img {
  
  width: 100%;
 
}